In [68]:
import pandas as pd

In [69]:
data = pd.read_csv("../Data/australian_postcodes.csv")
nsw_data = data.loc[data['state_code'] == 'NSW']
nsw_data = nsw_data.drop(['state_name', 'state_code', 'latitude', 'longitude', 'accuracy'], axis=1)
nsw_data = nsw_data.rename({'place_name': 'suburb'}, axis=1)
nsw_data.shape

(5124, 2)

In [70]:
housing = pd.read_csv("../Data/sydney_housing_2016-2021.csv")
housing.shape

(11160, 17)

In [73]:
nsw_data = nsw_data.drop_duplicates(subset=['suburb'])
nsw_data

      postcode            suburb
154       1001            Sydney
295       1208         Haymarket
296       1209  Australia Square
303       1216   Grosvenor Place
308       1221    Royal Exchange
...        ...               ...
5272      4380          Mingoola
5273      4380         Amosfield
5274      4380        Ruby Creek
5276      4383          Jennings
5277      4385        Camp Creek

[4694 rows x 2 columns]

In [80]:
nsw_data.to_csv('nsw_postcodes.csv', index=False)

In [72]:
housing.merge(nsw_data, on='suburb')

,price,date_sold,suburb,num_bath,num_bed,num_parking,property_size,type,suburb_population,suburb_median_income,suburb_sqkm,suburb_lat,suburb_lng,suburb_elevation,cash_rate,property_inflation_index,km_from_cbd,postcode
0,530000,13/1/16,Kincumber,4,4,2,1351,House,7093,29432,9.914,-33.47252,151.40208,24,2.0,150.9,47.05,2251
1,550000,15/1/16,Kincumber,1,3,1,626,House,7093,29432,9.914,-33.47252,151.40208,24,2.0,150.9,47.05,2251
2,500000,19/1/16,Kincumber,1,3,1,791,House,7093,29432,9.914,-33.47252,151.40208,24,2.0,150.9,47.05,2251
3,540000,22/1/16,Kincumber,1,3,2,623,House,7093,29432,9.914,-33.47252,151.40208,24,2.0,150.9,47.05,2251
4,395000,22/1/16,Kincumber,1,1,0,642,House,7093,29432,9.914,-33.47252,151.40208,24,2.0,150.9,47.05,2251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11154,1065000,13/12/21,Eastern Creek,3,3,2,949,House,827,33852,20.431,-33.79734,150.84976,63,0.1,220.1,34.17,2766
11155,1000000,13/12/21,Eastern Creek,2,4,2,910,House,827,33852,20.431,-33.79734,150.84976,63,0.1,220.1,34.17,2766
11156,1075000,25/11/21,Heckenberg,2,5,4,601,House,3094,22152,0.928,-33.90786,150.89189,59,0.1,220.1,29.80,2168
11157,1115000,15/12/21,Sadleir,2,4,2,639,House,3135,21060,0.899,-33.91680,150.89054,25,0.1,220.1,30.09,2168
11158,1090000,24/12/21,Werrington Downs,3,6,2,795,House,3249,41184,1.109,-33.74159,150.73207,46,0.1,220.1,46.32,2747